
#overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: scroll;
    z-index: 1;

    @media(min-width:450px){
        background-color: transparent;
        overflow: hidden;
        height: 100vh;
    }
}

#overlay > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 20px;

    @media(min-width:450px){
        display: grid;
        margin: 300px auto;
        width: 400px;
        padding: 30px;
        /* height: 400px; */
        background-color: #fff;
        border-radius: 1.2rem;
        grid-template-columns: 1fr;
        gap: 0.2rem;

        button{
            grid-row: 1;
            grid-column: 2;
            border: none
        }

        .gameRule{
            grid-row: 2;
            width: 100%;
            margin-left: 15px;
        }
    }

    h1{
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}

button{
    cursor: pointer;
}

#playGame{
    background: linear-gradient(var(--radial-Gradient-bg));
    /* height: 100%; */
    padding-top: 1.2rem;

    @media(min-width:450px){
        height: fit-content;
    }
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav{
    padding: 20px;
    border-radius: 0.6rem;
    border: 2px solid white;
    overflow: hidden;
    max-width: 350px;
    margin: auto;

    @media(min-width:450px){
        max-width: 500px;
    }

    img{
        width: 100px;
    }

    >div{
        background-color: #fff;
        padding: 20px;
        border-radius: 0.6rem;
        text-align: center;
        width: 100px;
        color: var(--navy-900-dark-text);

        h1{
            font-size: 2.5rem;
        }
    }
}

/* the game button and rule page */
section{
    display: flex;
    flex-direction: column;
    gap: 60px;
    min-height: 70ch;

    @media(min-width:450px){
        display: block;
        min-height: 100vh;
    }
}

#gameCont{
    height: 400px;
    margin: 0 auto;
    padding: 0.6rem;
    position: relative;
    top: 40px;
    width: 300px;

    @media(min-width: 450px){
        top: 0;
        width: 400px;
        height: 500px;
    }
}

.showBg{
    background-image: url('images/bg-pentagon.svg');
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 250px;
    height: 70ch;
    overflow: hidden;

    @media(min-width:450px){
        background-size: 400px;
    }
}

#buttonPick{
    padding: 0.6rem;
    /* @media(min-width: 450px){
        padding: 1.4rem;
    } */

    >div{
        background-color: #fff;
        padding: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;

        @media(min-width: 450px){
            width: 60px;
            height: 60px;
        }
    }
}

.rock{
    position: absolute;
    bottom: 40px;
    left: 180px;

    @media(min-width: 450px){
        bottom: 0;
        left: 300px;
    }
}

.scissors{
    position: absolute;
    top: 70px;
    left: 110px;

    @media(min-width: 450px){
        top: 70px;
        left: 160px;
    }
}

.paper{
    position: absolute;
    top: 150px;
    right: 0;

    @media(min-width:450px){
        top: 220px;
        right: -20px;
    }
}

.lizard{
    position: absolute;
    bottom: 40px;
    right: 180px;
    width: fit-content;

    @media(min-width: 450px){
        bottom: 0;
        left: 20px;
        align-self: self-start;
    }
}

.spock{
    position: absolute;
    top: 150px;
    left: 0;

    @media(min-width:450px){
        top: 220px;
        left: -20px;
    }
}

.triggerRules{
    padding: 4px 12px;
    border: 1.5px solid white;
    width: fit-content;
    margin: auto;
    border-radius: 0.4rem;

    @media(min-width:450px){
        position: absolute;
        right: 200px;
    }
}

#result{
    color: #fff;
    margin-top: 80px;
}