@import "tailwindcss";

:root{
/* primary */
        --gold: hsl(39, 89%, 49%);
        --gold-600: hsl(28, 76%, 44%);
        --blue-500: hsl(230, 89%, 62%);
        --blue-700: hsl(229, 64%, 46%);
        --purple-600: hsl(261, 73%, 60%);
        --purple-700: hsl(261, 51%, 44%);
        --light-blue: hsl(189, 59%, 53%);
        --light-blue-100: hsl(194, 58%, 42%);

/* neutral */
        --navy-900-dark-text: hsl(229, 25%, 31%);
        --blue-700-score-text: hsl(229, 64%, 46%);
        --gray-600-header-outline: hsl(246, 11%, 37%);
        --radial-Gradient-bg: hsl(214, 47%, 23%), hsl(237, 48%, 15%)
}

/* section{
        @media (min-width: 40rem){
                background-color: transparent;
        }
} */

#ruleGrid{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        /* overflow: hidden; */
        
        @media (min-width: 40rem){
                grid-template-columns: repeat(2, 1fr);
                width: 350px;
                height: 400px;
                margin: auto;
                margin-top: 150px;
                gap: 20px;
                border-radius: 1.2rem;
                padding: 25px;
        }

        h1{
                font-size: larger;
                font-weight: 700;
                @media (max-width: 40rem) {
                        width: fit-content;
                        margin: auto;
                        font-size: xx-large;
                }
        }

        button{
                /* width: fit-content; */
                margin: auto;
                @media(min-width: 40rem){
                        grid-column: 3;
                }

                @media (max-width: 40rem) {
                        grid-row: 3;
                        cursor: pointer;
                        /* position: absolute; */
                        /* left: 0; */
                }

                &:hover{
                        cursor: pointer;
                }
        }

        #rulesImg{
                width: fit-content;
                margin: auto;
                
                @media(min-width: 40rem){
                        grid-column: 1/4;
                }
        }
}


#game{
        background: linear-gradient(var( --radial-Gradient-bg));
        height: 100vh;
        color: white;
        overflow: hidden;
}